body {
  overflow-x: hidden;
}

.wrapper {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow: hidden;
    border-right: 1px solid #eee;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    margin-right: -250px;
    padding: 15px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.drop {
  color: #999999;
  cursor: pointer;
}

.drop:hover {
  color: #000;
}

.active {
  background-color: #ddd;
  color: #000 !important;
}

.heading {
  font-size: 1.5em;
  font-weight: bold;
}

.title {
  font-size: 1em;
  font-weight: bold;
}

.name {
  font-size: 3em;
  font-weight: bold;
}

.clean {
  list-style: none;
}

.inline {
  display: inline;
}

ul {
  padding-left: 10px;
}

li.text {
  margin-left: 7px;
}

@media(min-width:768px) {
    .wrapper {
        padding-left: 250px;
    }

    .sidebar-wrapper {
        width: 250px;
    }

    .page-content-wrapper {
        padding: 20px;
        position: relative;
        margin-right: 0;
    }
}
